.popular-books-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

}

.book img {
    width: 275px;
    height: 364px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.author-birthdate {
    margin-top: 5px;
}

.author-description {
    margin-top: 15px;
}