<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/authorpage.css">
</head>
<body>
    <header>
        <img src="../logo/bookseaters.png" alt="">
    </header>

    <div class="content">
        <div class="white author-info subject-info">
            <div class="other-info">
                <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="" class="cover">
                <div class="rating">
                    <div class="like">
                        <img src="../logo/like.png" alt="">
                        <span class="likes-amount">16</span>
                    </div>
                    <div class="dislike">
                        <span class="dislikes-amount">0</span>
                        <img src="../logo/like.png">
                    </div>
                </div>
            </div>
            <div class="text-info">
                <h2 class="author-name">Имя автора</h2>
                <p class="author-birthdate">Дата рождения</p>
                <p class="author-description">Описание</p>
            </div>
        </div>

        <div class="white popular-books main">
            <h1 class="topics-header title">Самые популярные произведения</h1>

            <div class="popular-books-wrapper">
                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Гарри Поттер и Методы рационального мышления</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>
            </div> 
        </div>

        <div class="white all-books main">
            <h1 class="all-books-header title">Все произведения</h1>

            <div class="search-wrapper">
                <input type="text" class="search">
            </div> 

            <div class="popular-books-wrapper">
                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Гарри Поттер и Методы рационального мышления</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>

                <div class="book">
                    <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="">
                    <p>Название произведения</p>
                </div>
            </div> 
        </div>

    </div>
    
</body>
</html>