<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bookpage.css">
</head>
<body>
    <header>
        <img src="../logo/bookseaters.png" alt="">
    </header>

    <div class="content">
        <div class="white book-info subject-info">
            <div class="other-info">
                <img src="../logo/harry_potter_and_the_methods_of_rationality.png" alt="" class="cover">
                <div class="rating">
                    <div class="like">
                        <img src="../logo/like.png" alt="">
                        <span class="likes-amount">16</span>
                    </div>
                    <div class="dislike">
                        <span class="dislikes-amount">0</span>
                        <img src="../logo/like.png">
                    </div>
                </div>
                <a href="" class="reviews-button">Отзывы</a>
            </div>
            <div class="text-info">
                <h2>Название книги</h2>
                <a href="">Автор</a>
                <p class="book-description">Описание книги</p>
            </div>
        </div>
        <div class="white topics main">
            <h1 class="topics-header title">Топики</h1>

            <div class="topics">
                <div class="topic">
                    <div class="topic-head">
                        <div class="topic-metadata">
                            <img src="" alt="avatar">
                            <p class="">
                                <span class="topic-metadata-nickname">
                                    nickname
                                </span>
                                <span class="topic-metadata-topicname">
                                    topicname
                                </span>
                                <span class="topic-metadata-book">
                                    book
                                </span>
                            </p>
                        </div>
                        <div class="topic-date">
                            <p>Создан: 20.08.2022 16:38</p>
                        </div>
                    </div>
                    <div class="topic-body">
                        <div class="topic-title">
                            <p>Title</p>
                        </div>
                        <div class="topic-text">
                            <p>Text</p>
                        </div>
                    </div>
                    <div class="topic-footer">
                        <p class="messages-amount-wrapper">50 сообщений</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>